html{
  width: 100%;
}
body{
  width: 100%;
  background-image: url(background4.jpg);
}
header{
  background-color: #333;
}
nav{
  background-color: #333;
  padding: 8px 0 8px 0;
}
h4{
  width: 100px;
}
h5{
  width: 100px;
}
.row{
  width: 100%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0px 0 0px 0;
    text-align: center;
}
li {
    display: inline;
    padding: 0 75px 0 0;
    font-size: 25px
}
.sh{
  text-align: left;
}
#mvc{
  padding: 15px 0 160px 85px;
}
#lcs{
  padding: 0 0 0 85px;
}
#navbar{
  padding: 0 0 0 0;
}
.#{
  float: right;
}
#sellinfo{
  text-align: right;
  padding: 0 0 15px 0;
}
.bh{
  text-align: center;
  padding: 150px 0 0 0;
}
h1{
  text-align: center;
}
.higher{
  padding: 0 0 20px 0;
}
.im{
  padding: 0 0 40px 0;
}
.ff{
  padding: 0 0 30px 0;
}
.sm{
  padding: 0 0 100 0;
}
.cm{
  padding: 0 0 30 0;
}
.hk{
  padding: 0 0 0 0;
}
#plus{
 text-align: right;
}
#plus2{
  text-align: left
}
